<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ "/assets/image/favicon.png" | absolute_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/css/bootstrap.min.css" | absolute_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/lib/fontawesome/css/all.css" | absolute_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/css/prism.css" | absolute_url }}">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | absolute_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/assets/scss/style.css" | absolute_url }}">
    </head>
    <body>
        <!-- Side options -->
        <div class="side-options">
            <div class="side-options-container">
                <a class="side-options-item" href="/">
                    <div class="side-options-item-container">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <div class="side-options-item-hover">Trang chủ</div>
                </a>
                <a class="side-options-item">
                    <div class="side-options-item-container">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </div>
                    <div class="side-options-item-hover">Demo 111</div>
                </a>
                <a class="side-options-item">
                    <div class="side-options-item-container">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                    <div class="side-options-item-hover">Demo 123</div>
                </a>
                <a class="side-options-item">
                    <div class="side-options-item-container">
                        <i class="fa fa-sign-language" aria-hidden="true"></i>
                    </div>
                    <div class="side-options-item-hover">Demo 12345 Demo 12345 Demo 12345</div>
                </a>
                <a class="side-options-item" href="/category/js">
                    <div class="side-options-item-container">
                        <i class="fab fa-js" aria-hidden="true"></i>
                    </div>
                    <div class="side-options-item-hover">Tổng hợp linh tinh về Javascript</div>
                </a>
                <a class="side-options-item" href="/category/blog">
                    <div class="side-options-item-container">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <div class="side-options-item-hover">Blog</div>
                </a>
            </div>
        </div>
        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-light bg-light navbar-shadow justify-content-end">
            <div class="navbar-brand">
                <i class="fas fa-quote-left text-color"></i>  Code by Heart  <i class="fas fa-quote-right text-color"></i>
            </div>
        </nav>
        <!-- Content -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col col-sm-12 col-md-10">
                    {{ content }}
                    <!-- Footer -->
                    <div class="footer">
                        <hr class="hr-custom">
                        <div class="text-center"><i class="fab fa-pagelines fa-flip-horizontal text-color"></i><b>  phantien295@gmail.com </b><i class="fab fa-pagelines text-color"></i></div>
                    </div>
                </div>
                {% comment %}
                <div class="col col-sm-3">
                    <!-- Right Menu -->
                    <ul class="list-group menu">
                        <li class="list-group-item menu-header"><i class="fas fa-th-list margin-right-07"></i>Category</li>
                        {% for category in site.category %}
                        <a class="list-group-item" href="{{ category.url }}">
                            <i class="fas fa-paw menu-icon"></i>{{ category.name }}
                        </a>
                        {% endfor %}
                    </ul>
                    <hr class="hr-custom">
                    <div>icon here!!!</div>
                </div>
                {% endcomment %}
            </div>
            <div class="footer-bar">
                <!-- <a href="/category/blog.html">Blog</a> | <a href="/category/java.html">Java</a> -->
            </div>
        </div>
        <script src="{{ "/assets/js/prism.js" | absolute_url }}"></script>
    </body>
</html>
